astroid==2.5.2
certifi==2022.12.7
chardet==4.0.0
chromedriver-binary==90.0.4430.24.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pylint==2.7.4
requests==2.25.1
selenium==3.141.0
toml==0.10.2
urllib3==1.26.5
webdriver-manager==3.3.0
wrapt==1.12.1
